<mat-card>
  <form [formGroup]="creationForm" #formDirective="ngForm" (submit)="onCreateBlogpost(formDirective)">
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Title" formControlName="title" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Subtitle" formControlName="subtitle" required>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Content" formControlName="content" required></textarea>
      </mat-form-field>
      <label for="image">Choose image</label>
      <input type="file" name="image" id="image" formControlName="image">
      <button type="button" mat-button (click)="upload()">Upload image</button>
      <button mat-button type="submit">Create blog post</button>
    </div>
  </form>
</mat-card>
